body{
	width: 100%;
	background-color: #484848;	
}
div{
	
	/*border: solid red;*/
	float:left;
	margin:5px;

	
}

#carrusel{
	max-width: 130px;
}

#botones {
	max-width: 230px;
	clear: left;
	margin-left:35%;
}

#date_init {
	max-width: 160px;
	position: absolute;
	
	 
}
#canvas{
	max-width: 650px;
	
}

#carrusel img {
	border-radius: 8px;
    background: #686868;
    padding: 2px;
	width: 110px;
	height: 130px;
	margin: 8px;
}

section {
	/*max-height: 800px;*/
	max-width: 60%;

	/*colocamos la seccion en el medio de pagina */
	margin-left: 20%;
	background-color:"white";	
}
